---
whiskers:
  version: ^2.5.1
  filename: "home/dot_config/exact_delta/exact_themes/poisonbloom.gitconfig"
  hex_format: "#{{r}}{{g}}{{b}}"
---

{%- for identifier, flavor in flavors -%}
{%- if flavor.dark and not loop.last %}{% continue %}{% endif -%}
{%- set palette = flavor.colors -%}

[delta "poisonbloom-{% if flavor.dark %}dark{% else %}light{% endif %}"]
	{{ if(cond=flavor.dark, t="dark", f="light") }} = true
	syntax-theme = Poisonbloom {% if flavor.dark %}Dark{% else %}Light{% endif %}

	file-style = "{{ palette.text.hex }}"
	file-decoration-style = "{{ palette.overlay0.hex }}"
	hunk-header-style = file line-number syntax
	hunk-header-decoration-style = "{{ palette.overlay0.hex }}" box ul
	hunk-header-line-number-style = "{{ palette.subtext0.hex }}"
	commit-decoration-style = "{{ palette.overlay0.hex }}" box ul
	blame-palette = "{{ palette.base.hex }} {{ palette.mantle.hex }} {{ palette.crust.hex }} {{ palette.surface0.hex }} {{ palette.surface1.hex }}"

	minus-style = syntax "{{ palette.red | mix(color=palette.base, amount=0.2) | get(key="hex") }}"
	minus-emph-style = syntax "{{ palette.red | mix(color=palette.base, amount=0.35) | get(key="hex") }}"
	plus-style = syntax "{{ palette.green | mix(color=palette.base, amount=0.2) | get(key="hex") }}"
	plus-emph-style = syntax "{{ palette.green | mix(color=palette.base, amount=0.35) | get(key="hex") }}"

	line-numbers-left-style = "{{ palette.overlay0.hex }}"
	line-numbers-right-style = "{{ palette.overlay0.hex }}"
	line-numbers-zero-style = "{{ palette.overlay0.hex }}"
	line-numbers-minus-style = "{{ palette.red.hex }}"
	line-numbers-plus-style = "{{ palette.green.hex }}"

	map-styles = \
		bold purple => syntax "{{ palette.mauve | mix(color=palette.base, amount=0.35) | get(key="hex") }}", \
		bold blue => syntax "{{ palette.blue | mix(color=palette.base, amount=0.35) | get(key="hex") }}", \
		bold cyan => syntax "{{ palette.sky | mix(color=palette.base, amount=0.35) | get(key="hex") }}", \
		bold yellow => syntax "{{ palette.yellow | mix(color=palette.base, amount=0.35) | get(key="hex") }}"
{% if not loop.last %}
{% endif -%}
{% endfor -%}
