---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor: ["latte", "mocha"]
  filename: "home/dot_config/exact_ghostty/exact_themes/Poisonbloom {% if flavor.dark %}Dark{% else %}Light{% endif %}.conf"
  hex_format: "#{{r}}{{g}}{{b}}"
---
background = {{ base.hex }}
foreground = {{ text.hex }}

cursor-color = {{ rosewater.hex }}
cursor-text = {{ if(cond=flavor.light, t=base.hex, f=crust.hex) }}
selection-background = {{ overlay2 | mix(color=base, amount=0.2) | get(key="hex") }}
selection-foreground = {{ text.hex }}
split-divider-color = {{ surface0.hex }}

palette = 0={{ if(cond=flavor.dark, t=surface1.hex, f=subtext1.hex) }}
palette = 1={{ red.hex }}
palette = 2={{ green.hex }}
palette = 3={{ yellow.hex }}
palette = 4={{ blue.hex }}
palette = 5={{ pink.hex }}
palette = 6={{ teal.hex }}
palette = 7={{ if(cond=flavor.dark, t=subtext0.hex, f=surface2.hex) }}
palette = 8={{ if(cond=flavor.dark, t=surface2.hex, f=subtext0.hex) }}
palette = 9={{ red.hex }}
palette = 10={{ green.hex }}
palette = 11={{ yellow.hex }}
palette = 12={{ blue.hex }}
palette = 13={{ pink.hex }}
palette = 14={{ teal.hex }}
palette = 15={{ if(cond=flavor.dark, t=subtext1.hex, f=surface1.hex) }}
