[submodule "autopair"]
	path = .config/zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "autosuggestions"]
	path = .config/zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "pure"]
	path = .config/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
[submodule "system-clipboard"]
	path = .config/zsh/plugins/system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule "fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
