{{- $interactive := stdinIsATTY -}}

{{- $user := "kutsan" -}}
{{- if hasKey . "user" -}}
{{-   $user = .user -}}
{{- else if $interactive -}}
{{-   $user = promptChoice "Select main user" (list "kutsan" "reyhan") -}}
{{- end -}}

{{- $profile := "personal" -}}
{{- if hasKey . "profile" -}}
{{-   $profile = .profile -}}
{{- else if $interactive -}}
{{-   $profile = promptChoice "Select environment profile" (list "personal" "work") -}}
{{- end -}}

[data]
  profile = {{ $profile | quote }}
  user = {{ $user | quote }}

[merge]
	command = "nvim"
	args = [
		"-d",
		{{ printf "%q" "{{ .Destination }}" }},
		{{ printf "%q" "{{ .Source }}" }},
	]
