# shellcheck disable=SC2148

# Shell
# shellcheck disable=SC2034
typeset -gU path fpath cdpath

# XDG Base Directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Local Executables
path=("$HOME/.local/bin" "${path[@]}")

# Zsh Config
export ZDOTDIR="$HOME/.config/zsh"
export SHELL_SESSIONS_DISABLE='1'

# Defaults
export LANG='en_US.UTF-8'
export EDITOR='nvim'
export GUI_EDITOR='zed'
export PAGER='less'

# Telemetry
export DISABLE_TELEMETRY='1'
export DO_NOT_TRACK='1'
export SBX_NO_TELEMETRY='1'

# Homebrew
export HOMEBREW_NO_ANALYTICS='1'
export HOMEBREW_CLEANUP_MAX_AGE_DAYS='7'
export HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS='7'
export HOMEBREW_DISPLAY_INSTALL_TIMES='1'
export HOMEBREW_NO_ENV_HINTS='1'
export HOMEBREW_NO_EMOJI='1'

# Android SDK
typeset android_sdk_path

for candidate in \
	"$HOME/Library/Android/sdk" \
	"$HOME/Android/Sdk" \
	/opt/android-sdk; do
	if [[ -d $candidate ]]; then
		android_sdk_path=$candidate
		break
	fi
done

if [[ -n $android_sdk_path ]]; then
	export ANDROID_HOME="$android_sdk_path"
	path=("$ANDROID_HOME/emulator" "$ANDROID_HOME/platform-tools" "${path[@]}")
fi

unset android_sdk_path candidate

# Java
typeset java_home_path java_bin

if [[ -x /usr/libexec/java_home ]]; then
	java_home_path=$(/usr/libexec/java_home 2>/dev/null)
else
	java_bin=$(command -v java)
	java_home_path=$(readlink -f "$java_bin" 2>/dev/null)
	java_home_path=${java_home_path%/bin/java}
fi

if [[ -n $java_home_path && -d $java_home_path ]]; then
	export JAVA_HOME="$java_home_path"
fi

unset java_home_path java_bin

# npm
{{- if eq .user "kutsan" }}
export NPM_CONFIG_INIT_AUTHOR_NAME='Kutsan Kaplan'
export NPM_CONFIG_INIT_AUTHOR_EMAIL='me@kutsan.dev'
export NPM_CONFIG_INIT_AUTHOR_URL='https://kutsan.dev'
{{- else if eq .user "reyhan" }}
export NPM_CONFIG_INIT_AUTHOR_NAME='Reyhan Kaplan'
export NPM_CONFIG_INIT_AUTHOR_EMAIL='me@reyhan.dev'
export NPM_CONFIG_INIT_AUTHOR_URL='https://reyhan.dev'
{{- end }}
export NPM_CONFIG_INIT_LICENSE='MIT'
export NPM_CONFIG_INIT_VERSION='0.0.0'
export NPM_CONFIG_SIGN_GIT_TAG='true'

# Rust
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
path=("$CARGO_HOME/bin" "${path[@]}")

# GnuPG
export GNUPGHOME="$XDG_CONFIG_HOME/gnupg"

# QMK
export QMK_HOME="$XDG_DATA_HOME/qmk-firmware"

# OpenCode
export OPENCODE_DISABLE_TERMINAL_TITLE='true'

# Claude Code
export CLAUDE_CONFIG_DIR="$XDG_CONFIG_HOME/claude"
export CLAUDE_CODE_DISABLE_TERMINAL_TITLE='1'
