[include]
	path = ./users/{{ .user }}.gitconfig

[include]
	path = ./local.gitconfig

[include]
	path = ./directives/options.gitconfig
	path = ./directives/aliases.gitconfig
	path = ./directives/delta.gitconfig
