#!/usr/bin/env bash

# nvim-pack-lock.json hash: {{ include "dot_config/exact_nvim/nvim-pack-lock.json" | sha256sum }}

{{ template "logger.sh" . }}

if ! command -v nvim >/dev/null 2>&1; then
	log.warn "Neovim is not installed. Skipping syncing Neovim plugins."
	exit 0
fi

log.info "Syncing Neovim plugins..."

# Run `nvim` in headless mode to sync `vim.pack` plugins with lock file.
nvim --headless \
	-c 'lua vim.pack.update(nil, { target = "lockfile", force = true })' \
	-c 'quitall' >/dev/null

echo

# Run `nvim` again to sync mason tools.
nvim --headless \
	-c 'lua require("mason-tool-installer").check_install(true, true)' \
	-c 'lua require("mason-tool-installer").clean()' \
	-c 'quitall' >/dev/null

log.success "Neovim plugins synced."
