{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Interactively discover which defaults domain and key control a setting.
#   before=$(defaults read) && read "?Change the setting, then press Enter... " && diff -U50 <(<<<"$before") <(defaults read) | delta; unset before

set -o errexit -o nounset -o pipefail
IFS=$'\n\t'

{{ template "logger.sh" . }}

main() {
	log.info "Setting macOS defaults..."

	# Show hidden files
	defaults write com.apple.finder AppleShowAllFiles -bool true

	# Automatically hide and show the Dock
	defaults write com.apple.dock autohide -bool true

	# Automatically hide and show the menu bar (always, including in full screen)
	defaults write NSGlobalDomain _HIHideMenuBar -bool true
	defaults write NSGlobalDomain AppleMenuBarVisibleInFullscreen -bool false

	# Do not automatically rearrange Spaces based on most recent use
	defaults write com.apple.dock mru-spaces -bool false

	# Click wallpaper to reveal desktop only in Stage Manager (not always)
	defaults write com.apple.WindowManager EnableStandardClickToShowDesktop -bool false

	# Restart system services to apply changes
	killall Dock
	killall Finder
	killall SystemUIServer
	killall WindowManager

	log.success "macOS defaults set."
}

main "$@"
{{- end -}}
