#!/usr/bin/env zsh

# nvim-pack-lock.json hash: {{ include "dot_config/exact_nvim/nvim-pack-lock.json" | sha256sum }}

autoload -Uz colors && colors

local script_name="run_onchange_after_update-neovim-plugins.sh"

if (! type "nvim" &> /dev/null) {
	echo
	print "${fg_bold[yellow]}==>${reset_color} ${bold_color}[${script_name}]${reset_color} Neovim is not installed. Skipping syncing Neovim plugins."

	exit 0
}

echo
print "${fg_bold[blue]}==>${reset_color} ${bold_color}[${script_name}]${reset_color} Syncing Neovim plugins..."

# Run `nvim` in headless mode to sync `vim.pack` plugins with lock file.
zsh -c "nvim --headless \
	-c 'lua vim.pack.update(nil, { target = \"lockfile\", force = true })' \
	-c 'quitall'" > /dev/null

# Run `nvim` again to sync mason tools.
zsh -c "nvim --headless \
	-c 'lua require(\"mason-tool-installer\").check_install(true, true)' \
	-c 'lua require(\"mason-tool-installer\").clean()' \
	-c 'quitall'" > /dev/null

echo
print "${fg_bold[green]}==>${reset_color} ${bold_color}[${script_name}]${reset_color} Neovim plugins synced."
