#!/usr/bin/env bash

set -euo pipefail
IFS=$'\n\t'

# package.toml hash: {{ include "dot_config/exact_yazi/package.toml" | sha256sum }}

{{ template "logger.sh" . }}

main() {
	if ! command -v ya >/dev/null 2>&1; then
		log.warn "Yazi CLI is not installed. Skipping installing Yazi plugins and flavors."
		return 0
	fi

	log.info "Installing Yazi plugins..."

	ya pkg install

	log.success "Yazi plugins installed."
}

main "$@"
