{{- if .interactive -}}
#!/usr/bin/env bash

set -o errexit -o nounset -o pipefail
IFS=$'\n\t'

{{ template "logger.sh" . }}
{{ template "script-environment.sh" . }}

readonly ATUIN_USERNAME={{ .user | quote }}
readonly ATUIN_EXECUTABLE_PATH={{ joinPath .chezmoi.homeDir ".local" "share" "zinit" "plugins" "atuinsh---atuin" "atuin" | quote }}

main() {
	if [[ ! -x $ATUIN_EXECUTABLE_PATH ]]; then
		log.warn "atuin is not installed. Skipping logging in to atuin."
		return 0
	fi

	log.info "Logging in to atuin as ${ATUIN_USERNAME}..."
	log.info "When asked for the encryption key, leave it blank to use the key chezmoi deployed."

	"$ATUIN_EXECUTABLE_PATH" login --username "$ATUIN_USERNAME"
	"$ATUIN_EXECUTABLE_PATH" sync

	log.success "Logged in to atuin."
}

main "$@"
{{- end -}}
