PATH='/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin'

#  + min (0-59)                                    * any   - range
#  |     + hour (0-23)                             , array / step
#  |     |      + day of month (1-31, JAN-DEC)
#  |     |      |      + month (1-12)
#  |     |      |      |       + day of week (0-6, SUN-SAT) (0 == sunday)
#  |     |      |      |       |
#  min   hour   day    month   week   command
   0     *      *      *       *      newsboat -x reload
   */30  *      *      *       *      flexget --cron execute
