{{- if eq .profile "personal" -}}
# Personal Taps

{{- if eq .user "kutsan" }}
tap "osx-cross/arm"
tap "osx-cross/avr"
tap "qmk/qmk"
{{- end }}
{{- end }}

# Common Packages
brew "act"
brew "chezmoi"
brew "cloud-sql-proxy"
brew "cocoapods"
brew "devcontainer"
brew "dive"
brew "exiftool"
brew "fastlane"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fx"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-standup"
brew "bat"
brew "gnupg"
brew "gptfdisk"
brew "htop"
brew "imagemagick"
brew "jq"
brew "lazydocker"
brew "lazygit"
brew "mas"
brew "massren"
brew "neovim"
brew "nmap"
brew "node"
brew "opencode"
brew "ripgrep"
brew "rust"
brew "scc"
brew "terraform"
brew "tree"
brew "trippy"
brew "yazi"
brew "zoxide"
brew "tree-sitter-cli"
{{- if eq .profile "personal" }}

# Personal Packages
brew "ledger"

{{- if eq .user "kutsan" }}
brew "arm-gcc-bin" # QMK dependency
brew "avr-gcc" # QMK dependency
brew "dos2unix" # QMK dependency
brew "qmk/qmk/qmk" # QMK
brew "typst"
{{- end }}
{{- end }}

# Common Casks
cask "android-studio"
cask "datagrip"
cask "docker-desktop"
cask "figma"
cask "gcloud-cli"
cask "ghostty"
cask "google-chrome"
cask "meetingbar"
cask "pearcleaner"
cask "proxyman"
cask "zulu@17"
cask "opencode-desktop"
cask "zed"
cask "handbrake-app"
cask "iina"
cask "claude-code"
cask "claude"
cask "keepingyouawake"

# Font Casks
cask "font-symbols-only-nerd-font"
cask "font-ia-writer-mono"
cask "font-ia-writer-duo"
cask "font-ia-writer-quattro"
{{- if eq .profile "personal" }}

# Personal Casks
cask "blender"
cask "discord"
cask "insta360-link-controller"
cask "obs"
cask "orcaslicer"
cask "transmission"

{{- if eq .user "kutsan" }}
cask "skim"
cask "ledger-wallet"
{{- end }}

{{- if eq .user "reyhan" }}
cask "clip-studio-paint"
cask "affinity"
{{- end }}
{{- end }}

# Common App Store Apps
mas "Clean Links", id: 6747395062
mas "Hand Mirror", id: 1502839586
mas "Keynote", id: 361285480
mas "Mic Drop", id: 1489816366
mas "Numbers", id: 361304891
mas "Pages", id: 361309726
mas "Slack", id: 803453959
mas "uBlock Origin Lite", id: 6745342698
mas "WhatsApp", id: 310633997
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
{{- if eq .profile "personal" }}

# Personal App Store Apps
mas "Codepoint", id: 6444068649
mas "Compressor", id: 6746516157
mas "GarageBand", id: 682658836
mas "HomePass", id: 1330266650
mas "iA Writer", id: 775737590
mas "iMovie", id: 408981434
mas "Logic Pro", id: 1615087040
mas "Photomator", id: 1444636541
mas "Pixelmator Pro", id: 6746662575
mas "Swift Playground", id: 1496833156

{{- if eq .user "kutsan" }}
mas "GoodLinks", id: 1474335294
{{- end }}

{{- if eq .user "reyhan" }}
mas "Sketch", id: 1667260533
{{- end }}
{{- end }}
