{{- if eq .profile "personal" -}}
# Personal-only Taps
tap "osx-cross/arm"
tap "osx-cross/avr"
tap "qmk/qmk"
{{- end }}

# General Packages
brew "act"
brew "chezmoi"
brew "cloud-sql-proxy"
brew "cocoapods"
brew "devcontainer"
brew "dive"
brew "exiftool"
brew "fastlane"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fx"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-standup"
brew "gnupg"
brew "gptfdisk"
brew "htop"
brew "imagemagick"
brew "jq"
brew "lazydocker"
brew "lazygit"
brew "mas"
brew "massren"
brew "neovim"
brew "nmap"
brew "node"
brew "opencode"
brew "ripgrep"
brew "rust"
brew "scc"
brew "terraform"
brew "tree"
brew "trippy"
brew "yazi"

{{- if eq .profile "personal" -}}
# Personal-only Packages
brew "ledger"
brew "arm-gcc-bin" # QMK dependency
brew "avr-gcc" # QMK dependency
brew "dos2unix" # QMK dependency
brew "qmk/qmk/qmk" # QMK
{{- end -}}

# General Casks
cask "android-studio"
cask "cap"
cask "datagrip"
cask "docker-desktop"
cask "figma"
cask "font-symbols-only-nerd-font"
cask "font-ia-writer-quattro"
cask "gcloud-cli"
cask "ghostty"
cask "google-chrome"
cask "meetingbar"
cask "pearcleaner"
cask "proxyman"
cask "zulu@17"
cask "opencode-desktop"
cask "zed"
cask "handbrake-app"
cask "iina"
cask "claude-code"
cask "claude"
{{- if eq .profile "personal" }}

# Home-only Casks
cask "blender"
cask "discord"
cask "insta360-link-controller"
cask "obs"
cask "orcaslicer"
cask "transmission"
{{- end }}

# General App Store Apps
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Xcode", id: 497799835
mas "Hand Mirror", id: 1502839586
mas "Mic Drop", id: 1489816366
mas "Slack", id: 803453959
mas "WireGuard", id: 1451685025
mas "uBlock Origin Lite", id: 6745342698
{{- if eq .profile "personal" }}

# Personal-only App Store Apps
mas "iMovie", id: 408981434
mas "GarageBand", id: 682658836
mas "Photomator", id: 1444636541
mas "Swift Playground", id: 1496833156
mas "BlueWallet", id: 1376878040
mas "Clean Links", id: 6747395062
mas "Codepoint", id: 6444068649
mas "HomePass", id: 1330266650
mas "WhatsApp", id: 310633997

{{- if eq .user "kutsan" }}
mas "GoodLinks", id: 1474335294
{{- end }}
{{- end }}
