<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>syncthing</string>

		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/syncthing</string>
			<string>-no-browser</string>
			<string>-no-restart</string>
			<string>-logflags=0</string>
			<string>-home=/Users/Kutsan/.config/syncthing</string>
		</array>

		<key>KeepAlive</key>
		<dict>
			<key>Crashed</key>
			<true/>

			<key>SuccessfulExit</key>
			<false/>
		</dict>

		<key>ProcessType</key>
		<string>Background</string>

		<key>StandardErrorPath</key>
		<string>/Users/Kutsan/.config/launchd/log/syncthing.log</string>

		<key>StandardOutPath</key>
		<string>/Users/Kutsan/.config/launchd/log/syncthing.log</string>
	</dict>
</plist>
